<!doctype html>
<head>
    <title>Graphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
</head>
<body>
    {% for chart_data in chart_data_list %}
    <canvas id="chart_{{chart_data['contract_address']|e}}" width="400" height="400"></canvas>
    <script>
    const ctx_{{chart_data['contract_address']|e}} = document.getElementById('chart_{{chart_data['contract_address']}}').getContext('2d');
    const chart_{{chart_data['contract_address']|e}} = new Chart(ctx_{{chart_data['contract_address']|e}}, {
        type: 'line',
        data: {
            labels: {{chart_data["labels"]}},
            datasets: [{
              label: '{{chart_data['web_link']}}',
              data: {{chart_data["data"]}},
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.1
            }]
        }
    });
    </script>
    {% endfor %}
</body>